{% extends 'layout.html' %}
{% load widget_tweaks %}

{% block title %}Edit Table{% endblock %}

{% block body %}
<section>
  <h1>Edit Table</h1>
  <form method="post">{% csrf_token %}
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group floating-label">
          {{ form.code|add_class:"form-control" }}
          <label for="{{ form.code.id_for_label }}">Code</label>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group floating-label">
          {{ form.number_of_seats|add_class:"form-control" }}
          <label for="{{ form.number_of_seats.id_for_label }}">Seats</label>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group floating-label">
          {{ form.status|add_class:"form-control" }}
          <label for="{{ form.status.id_for_label }}">Status</label>
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Update Table</button>
  </form>
</section>
{% endblock %}
